* {
  padding: 0%;
  margin: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin-right: 10px;
}

.logo {
  margin-left: 10px;
  width: 50px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  position: relative;
  padding: 10px 0px;
}

.restaurant-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.restaurant-card > div {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 15%;

}

.restaurant-card > img {
  width: 100%;
  height: 200px;
}

.restaurant-card-item{
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  position: relative;
}